<h1>Word Count Results</h1>

<p><b>Text</b><br>
<%= @text  %><br>
<b>Word Count</b><br>
<%= @word_count %><br>
<b>Character Count (with spaces)</b><br>
<%= @character_count_with_spaces  %><br>
<b>Character Count (without spaces)</b><br>
<%=   @character_count_without_spaces  %><br>
<b>Occurences of <%= @special_word %></b><br>
<%= @occurrences %>
